<!-- main.hbs-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Rent-a-Hero</title>
</head>

<nav>
    <a href="/">Index</a> |
    <a href="/heroes">Heroes</a> |
    <a href="/customers">Customers</a> |
    <a href="/states">States</a> |
    <a href="/missions">Missions</a> |
    <a href="/hero_ratings">Hero Ratings</a> |
</nav>


<body>

    {{{body}}}

</body>

</html>
